.topNavbarContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    z-index: 6;
}

.goodMorning{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: auto;
    margin-top: auto;
}

.userDetails{
    display: flex;
    padding: 5px 4px;
    background-color: white;
    border-radius: 10px;
}

.profDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 4px 8px;
}

.userDetails img{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.userName{
    font-weight: 600;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.email{
    font-size: 9px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 768px) {
    .mainContent {
      margin-left: 0rem;
    }

    .goodMorning{
        font-size: 1rem;
    }

    .topNavbarContainer{
        width: 100%;
    }
    
    
    
  }