.sideNavContainer{
    background-color: rgb(49, 37, 65);
    min-width: fit-content;
    max-width: 18%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    overflow-x: hidden;
}

h3,h4{
    margin: 0;
    padding: 0;
}

.brfCaseImgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.sideNavButtons{
    width: 100%;
}

.sideNavButtons ul{
    list-style: none;
    padding: 0;
    width: 100%;
    margin-left: 2vw;
}

.sideNavButtons ul li{
    display:flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(45, 43, 43);
    margin: 10px 2px;
    padding-left: max(30px,3vw);
    width: 100%;
    border-radius: 15px;
}

.sideNavButtons ul li p{
    margin-left: 5px;
}


.logout{
    font-size: 1.2rem;
    padding: 15px 0px;
    background-color: white;
    color: rgb(208, 56, 56);
    width: 100%;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}