.topNavbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: transparent;
    z-index: 6;
}

.navIcon{
    display: none;
    z-index: 6;
}

.goodMorning{
    font-size: 1.3rem;
    font-weight: 500;
}

.userDetails{
    display: flex;
    padding: 10px 6px;
    background-color: white;
    border-radius: 10px;
}

.userName{
    font-weight: 600;
}

.userDetails p{
    margin: 2px;
    padding: 0;
    margin: 0;
    margin-right: 5px;
}


.userDetails img{
    margin-left: 4px;
}

@media screen and (max-width: 650px) {
    .mainContent {
      margin-left: 0rem;
    }

    .goodMorning{
        font-size: 1rem;
    }
    

    .navIcon{
        display: block;
        z-index: 6;
    }

    .navIcon:hover{
        cursor: pointer;
    }
    
    
  }