.topNavbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: transparent;
}

.navIcon{
    display: none;
}


.userDetails{
    display: flex;
    padding: 10px 6px;
    background-color: white;
    border-radius: 10px;
}

.userDetails h5,h6{
    margin: 2px;
    padding: 0;
    margin: 0;
    margin-right: 5px;
}

.userDetails img{
    margin-left: 4px;
}

@media screen and (max-width: 650px) {
    .mainContent {
      margin-left: 0rem;
    }

    .navIcon{
        display: block;
        z-index: 6;
    }

    .navIcon:hover{
        cursor: pointer;
    }
    
    
  }