
.mainPage{
  display: flex;
}

.mainContent{
    background-color: rgb(235, 231, 224);
    width: 100%;
    margin-left: 12rem;
  }

  .topNavbar{
    position: fixed;
    top: 0;
  }
  
  .dataContents{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .graphCol{
    width: 100%;
    min-height: 300px;
    margin: 0.5rem 0.5rem;
  }

  .pieCol{
    width: 100%;
    margin: 0.5rem 0.5rem;
  }

  .tableCol{
    width: 100%;
    height: 350px;
    margin: 0.5rem 0.5rem;
  }

  .profCol{
    width: 80%;
    margin: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media screen and (max-width: 650px) {
    .mainContent {
      margin-left: 0rem;
    }
  }